In [3]:
# ------------>>>>>>>> RUN THIS CODE CELL <<<<<<<<------------
# === CELL TYPE: IMPORTS AND SETUP 

# ------------>>>>>>>> RUN THIS CODE CELL <<<<<<<<------------
# === CELL TYPE: IMPORTS AND SETUP 

import os                       # for testing use only
import requests
import numpy as np
import pandas as pd
import sklearn
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
from os import path
from sklearn.model_selection import train_test_split
# --------cross-validation
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
# -------- classification
from sklearn import neighbors, tree, ensemble, naive_bayes, svm
# *** KNN
from sklearn.neighbors import KNeighborsClassifier
# *** Decision Tree; Random Forest
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
# *** Naive Bayes
from sklearn.naive_bayes import GaussianNB
# *** SVM classifier
from sklearn.svm import SVC
# --------  metrics:
from sklearn import metrics
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, r2_score, confusion_matrix
from sklearn.metrics import make_scorer
from bs4 import BeautifulSoup
from collections import Counter
from sklearn import linear_model, metrics, preprocessing
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.linear_model import LogisticRegression, LinearRegression
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import Select
from selenium import webdriver




%matplotlib inline

In [4]:
PATH = "C:/Users/shake/chromedriver.exe"

In [5]:

def get_tables():
    timeout = 10
    driver.execute_script("""
    document.querySelectorAll("a[aria-hidden=true],span[aria-hidden=true]").forEach(function(e) {
        e.parentElement.removeChild(e);
    });
    """)
    temp_html = driver.find_element(By.CSS_SELECTOR, "html").get_attribute('outerHTML')
    dfYear = pd.read_html(temp_html, attrs = {'class':'zebraTable ng-scope'})[0]
    return dfYear

In [6]:
def GetYearsCityPop():
    data = []    
    driver = webdriver.Chrome(PATH)
    try:
        driver.get(url)
        driver.implicitly_wait(20)
        driver.maximize_window()
        selectCity = driver.find_element(By.ID, "select2-chosen-8")
        selectCity.click()
        options = driver.find_element(By.XPATH, "//*[@id=\"select2-results-8\"]")
        AllOpt = options.find_elements_by_css_selector("li")
        driver.refresh()
        countOpt=len(AllOpt)
        for i in range(1, countOpt):
            time.sleep(1)
            selectCity = driver.find_element(By.ID, "select2-chosen-8")
            selectCity.click()
            time.sleep(1)
            year = selectCity.text
            driver.find_element(By.XPATH, "//*[@id=\"select2-results-8\"]/li[" + str(i) + "]").click()


            pages = driver.find_element_by_css_selector("div.pager")
            pagesLinkes=pages.find_elements_by_class_name("ng-binding")
            for page in pagesLinkes:
                page.click()
                time.sleep(1)
                tbody = driver.find_element_by_css_selector("tbody")
                tr = tbody.find_elements_by_css_selector("tr")
                for row in tr:
                    td = row.find_elements_by_css_selector("td")
                    cityName = td[1].text
                    poplation = td[7].text
                    poplationNew=poplation.replace(',','')                   
                    data.append([year, cityName, poplationNew])

    except BaseException as e:
        print("Invalid URL")
    

    driver.quit()
    return data

In [7]:


fileName='data\YearsCityPop.csv'
if os.path.isfile(fileName):
    dfYearsCityPop = pd.read_csv(fileName)
    dfYearsCityPop.sort_values(by="year",ascending=False)
    dfYearsCityPop
else: 
    url="https://boardsgenerator.cbs.gov.il/pages/WebParts/YishuvimPage.aspx?level_1=%D7%A9%D7%9B%D7%A8%20/%20%D7%94%D7%9B%D7%A0%D7%A1%D7%95%D7%AA"
    driver = webdriver.Chrome(PATH)
    data=[]
    data=GetYearsCityPop()
    if data:#data not empty    
        dfYearsCityPop = pd.DataFrame(data, columns=['year','city','population']) 
        dfYearsCityPop.sort_values(by="year",ascending=False)
        dfYearsCityPop.to_excel(fileName)
dfYearsCityPop

      Unnamed: 0  year                 city population
0              1  2020              אבו גוש       7769
1              2  2020             אבו סנאן      14307
2              3  2020  אבו קורינאת (יישוב)       1994
3              4  2020             אבו תלול       2139
4              5  2020                אבטין       2887
...          ...   ...                  ...        ...
4995        4996  1997        בן שמן (מושב)          -
4996        4997  1997       בן שמן (שיכון)          -
4997        4998  1997              בני ברק          -
4998        4999  1997             בני דרום          -
4999        5000  1997             בני דרור          -

[5000 rows x 4 columns]

In [8]:
filterdfYearsCityPop=dfYearsCityPop.iloc[:,[1,2,3]]
filterdfYearsCityPop

      year                 city population
0     2020              אבו גוש       7769
1     2020             אבו סנאן      14307
2     2020  אבו קורינאת (יישוב)       1994
3     2020             אבו תלול       2139
4     2020                אבטין       2887
...    ...                  ...        ...
4995  1997        בן שמן (מושב)          -
4996  1997       בן שמן (שיכון)          -
4997  1997              בני ברק          -
4998  1997             בני דרום          -
4999  1997             בני דרור          -

[5000 rows x 3 columns]

In [9]:

def GetYearsDemography(fileName,url):
    try:
        driver.get(url)
        driver.implicitly_wait(20)
        driver.maximize_window()
        selectSubtext = driver.find_element(By.ID, "select2-chosen-4")
        selectSubtext.click()
        driver.find_element(By.XPATH, "//*[@id=\"select2-results-4\"]/li[" + "7" + "]").click()
        time.sleep(10)
        selectCity = driver.find_element(By.ID, "select2-chosen-8")
        selectCity.click()
        time.sleep(1)
        options = driver.find_element(By.XPATH, "//*[@id=\"select2-results-8\"]")
        AllOpt = options.find_elements_by_css_selector("li")

        countOpt=len(AllOpt)
        driver.find_element(By.XPATH, "//*[@id=\"select2-results-8\"]/li[" + "1" + "]").click()

        dfData = pd.DataFrame()
        firstTime = True
        for i in range(1, countOpt):

            driver.find_element(By.ID, "select2-chosen-4").click()
            driver.find_element(By.XPATH, "//*[@id=\"select2-results-4\"]/li[" + "7" + "]").click()
            selectCity = driver.find_element(By.ID, "select2-chosen-8")
            selectCity.click()
            driver.find_element(By.XPATH, "//*[@id=\"select2-results-8\"]/li[" + str(i) + "]").click()
            year = selectCity.text
            temp = get_tables()
            temp.insert(0, "Years", year, True)
            print(temp)
            dfData = dfData.append(temp, ignore_index=True)
            if firstTime:
                temp.to_csv(fileName, mode='a', encoding='utf-8-sig',index=False)
                firstTime = False
            else:
                temp.to_csv(fileName, mode='a', encoding='utf-8-sig',index=False, header=False)


    except BaseException as e:
        print("Invalid URL")
    driver.quit()
    return dfData

In [10]:

from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import Select
from selenium import webdriver
import os                       
import requests
import numpy as np
import pandas as pd


fileName='data\YearsDemography.csv'
if os.path.isfile(fileName):
    dfDemography = pd.read_csv(fileName)
else:
    PATH = "C:\Program Files (x86)\chromedriver.exe"
    url="https://boardsgenerator.cbs.gov.il/pages/WebParts/YishuvimPage.aspx?level_1=%D7%A9%D7%9B%D7%A8%20/%20%D7%94%D7%9B%D7%A0%D7%A1%D7%95%D7%AA"
    driver = webdriver.Chrome(PATH)
    dfDemography = GetYearsDemography(fileName)
    
    
dfDemography

,Years,שם יישוב,סמל היישוב,"צפיפות אוכלוסייה לקמ''ר ביישובים שמנו 5,000 תושבים ויותר","סה""כ אוכלוסייה בסוף השנה",יהודים ואחרים (אחוזים),יהודים (אחוזים מתוך יהודים ואחרים),ערבים (אחוזים),מוסלמים (אחוזים מתוך האוכלוסייה הערבית),נוצרים (אחוזים מתוך האוכלוסייה הערבית),...,"נישאים שיעור ל-1,000 תושבים לא נשואים בני 15 ומעלה 2019","מתגרשים סה""כ גברים ונשים 2019","מתגרשים שיעור ל-1,000 תושבים נשואים בני 15 ומעלה 2019",אוכלוסיית דיור משותף (אחוז מתוך אוכלוסיית הרשות) סך מוסדות דיור משותף ברשות,אוכלוסיית דיור משותף (אחוז מתוך אוכלוסיית הרשות) סך דיירי דיור משותף ברשות,אוכלוסיית דיור משותף (אחוז מתוך אוכלוסיית הרשות) אחוז דיירים בבתי אבות ובדיור מוגן,אוכלוסיית דיור משותף (אחוז מתוך אוכלוסיית הרשות) אחוז דיירים במוסדות חינוך,אוכלוסיית דיור משותף (אחוז מתוך אוכלוסיית הרשות) אחוז דיירים במוסדות דת,אוכלוסיית דיור משותף (אחוז מתוך אוכלוסיית הרשות) אחוז דיירים במוסדות אשפוז כולל הוסטלים,אוכלוסיית דיור משותף (אחוז מתוך אוכלוסיית הרשות) אחוז דיירים במוסדות אחרים
0,2020,אבו גוש,472,4114.4,7771.0,-,-,98.9,99.8,-,...,44.6,26,8.1,4,31,-,0.3,0.04,0.06,-
1,2020,אבו סנאן,473,2136.9,14306.0,-,-,99.8,54.6,15.2,...,42.2,29,4.7,-,-,-,-,-,-,-
2,2020,אבן יהודה,182,1696.2,14020.0,100,98.4,-,-,-,...,20,40,7,5,347,1.35,0.3,-,0.83,-
3,2020,אום אל-פחם,2710,2187.4,56777.0,-,-,99.9,100,-,...,53.7,104,4.5,..,..,..,..,..,..,..
4,2020,אופקים,31,1990.8,32555.0,99.3,93.4,-,-,-,...,44.5,119,10.7,6,559,0.87,0.58,0.17,-,0.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3592,2003,שעב,538,2.9,2.8,14.04,13.56,13.17,9.43,17.07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3593,2003,שפרעם,8800,15.7,15.5,13.2,12.5,10.9,8.33,16.22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3594,2003,תל אביב -יפו,5000,173.8,189.6,7,5.5,4.8,5.2,18.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3595,2003,תל מונד,154,4,3.9,11.43,10.62,9.73,7.77,12.77,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3596,2003,תל שבע,1054,5.9,6.0,24.35,17.33,14.33,10.57,16.44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
filterdfDemography=dfDemography.iloc[:, [0,1,4,16,17,18]]
filterdfDemography

,Years,שם יישוב,"סה""כ אוכלוסייה בסוף השנה",אחוז באוכלוסייה בסוף השנה בני 19-15,אחוז באוכלוסייה בסוף השנה בני 29-20,אחוז באוכלוסייה בסוף השנה בני 44-30
0,2020,אבו גוש,7771.0,8.89,16.97,20.11
1,2020,אבו סנאן,14306.0,9.60,18.01,20.42
2,2020,אבן יהודה,14020.0,8.29,10.17,16.93
3,2020,אום אל-פחם,56777.0,10.97,18.67,17.91
4,2020,אופקים,32555.0,7.06,16.04,18.55
...,...,...,...,...,...,...
3592,2003,שעב,2.8,171.00,9.00,162.00
3593,2003,שפרעם,15.5,846.00,75.00,771.00
3594,2003,תל אביב -יפו,189.6,6338.00,3627.00,2711.00
3595,2003,תל מונד,3.9,149.00,25.00,124.00
3596,2003,תל שבע,6.0,645.00,29.00,616.00

In [171]:

def GetCollageAndUnivercityNamesAndAddress(UnivercityFileName,CollageFileName):
    dfUniversity = pd.DataFrame(columns=['Name','Address'])
    dfCollege = pd.DataFrame(columns=['Name','Address'])
    dictionaryAcademicType = {'University': '', 'College': ''}
    link_Universities=r"https://che.org.il/המוסדות-להשכלה-גבוהה/#section-79442"
    link_College1=r"https://che.org.il/המוסדות-להשכלה-גבוהה/#section-79446"
    link_College2=r"https://che.org.il/המוסדות-להשכלה-גבוהה/#section-79448"
    link_College3=r"https://che.org.il/המוסדות-להשכלה-גבוהה/#section-79452"
    links = [link_Universities, link_College1, link_College2, link_College3]

   
    try:
        for item in links:      
            driver.get(item)       
            driver.implicitly_wait(20)
            sectionName=item.split("#")
            link = driver.find_element(by=By.ID, value=sectionName[1])
            title=link.find_element_by_css_selector("div.title").text
            subLink=link.find_element_by_css_selector("div.content")
            subsublink=subLink.find_elements_by_css_selector("a")
            print(title)
            linkes = list()
            if str(title) == "אוניברסיטאות":
                for itemLink in subsublink:
                    linkes.append(itemLink.get_attribute("href"))
                dictionaryAcademicType['University'] = linkes
            else:
                for itemLink in subsublink:
                    linkes.append(itemLink.get_attribute("href"))
                dictionaryAcademicType['College'] = linkes

        for itemAcademicType in dictionaryAcademicType:
            typeName = str(itemAcademicType)
            linkStringList = dictionaryAcademicType[itemAcademicType]
            for itemLink in linkStringList:
                try:
                    driver.get(itemLink)
                    driver.implicitly_wait(20)
                    name = driver.find_elements_by_class_name("yellow-title")
                    address = driver.find_elements_by_class_name("col-xs-9")
                   

                    if typeName == "University":
                        dfUniversity = dfUniversity.append({'Name':  name[0].text, 'Address': address[0].text}, ignore_index=True)
                        print(dfUniversity)
                    else:
                        dfCollege = dfCollege.append({'Name': name[0].text, 'Address': address[0].text},ignore_index=True)
                        print(dfCollege)
                    time.sleep(0.5)
                except:
                    print("Invalid URL")
    except:
        print("Invalid URL")
    driver.quit()  
    dfUniversity.to_csv(UnivercityFileName, mode='a', encoding='utf-8-sig', index=False)
    dfCollege.to_csv(CollageFileName, mode='a', encoding='utf-8-sig', index=False)
    return dfUniversity , dfCollege

In [172]:
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import Select
from selenium import webdriver
import os                       
import requests
import numpy as np
import pandas as pd


dfUniversities = pd.DataFrame(columns=['Name','Address'])
dfColleges = pd.DataFrame(columns=['Name','Address'])

UnivercityFileName=r"data\UniversityNamesAndAddress.csv"
CollageFileName=r"data\CollegeNamesAndAddress.csv"


if path.exists(UnivercityFileName and CollageFileName):
    dfUniversities = pd.read_csv(UnivercityFileName)
    dfColleges = pd.read_csv(CollageFileName)
else:
#     PATH = "C:\Program Files (x86)\chromedriver.exe"
#     driver = webdriver.Chrome(PATH)
    dfUniversities,dfColleges = GetCollageAndUnivercityNamesAndAddress(UnivercityFileName,CollageFileName)
    
    
dfUniversities
dfColleges

,Name,Address
0,אלקאסמי – מכללה אקדמית לחינוך,ת.ד. 124 באקה אל גרבייה 30100
1,אמונה-אפרתה – מכללה אקדמית לאמנויות וחינוך,"רח' בן יפונה 17 ת.ד. 10263, ירושלים 91102"
2,המכללה האקדמית בית-ברל,"דואר בית-ברל, 44905"
3,המכללה האקדמית הדתית לחינוך שאנן,רח' הים התיכון 7 (פניית דב פרומר) ת.ד. 906 קרי...
4,המכללה האקדמית הערבית לחינוך בישראל – חיפה,"ת.ד. 8349, רח' החשמל 22, חיפה 33145"
5,המכללה האקדמית בוינגייט,"דואר וינגייט, נתניה 42902"
6,המכללה האקדמית לחינוך גבעת וושינגטון,"ד.נ. אבטח, מיקוד 7923900"
7,המכללה האקדמית לחינוך ולספורט אוהלו בקצרין,"קצרין, ת.ד. 222 מיקוד 12900"
8,"המכללה האקדמית לחינוך ע""ש דוד ילין","ת.ד. 3578, בית הכרם, ירושלים 91035"
9,"המכללה האקדמית לחינוך ע""ש קיי","רח' עזריאל ניצני 6 ת.ד. 4301, באר-שבע 84536"
10,"המכללה האקדמית לחינוך ע""ש א. ד. גורדון","טשרניחובסקי 73, חיפה."
11,"המרכז האקדמי לעיצוב ולחינוך ויצו – חיפה ע""ש נר...","הגנים 21, ת.ד. 9034, חיפה 31090"
12,המכללה האקדמית חמדת,ת. ד. 412 קריית החינוך עזתה נתיבות 80200
13,מכללה אקדמית לחינוך – אורות ישראל מיסודן של מכ...,"קמפוס אלקנה, ד.נ. הרי אפרים 44814"
14,"מכללה אקדמית לחינוך ""אורנים""",דואר קרית טבעון 36006
15,מכללה ירושלים,"ת.ד. 16078, בית וגן ירושלים 91160"
16,המכללה האקדמית הרצוג מיסודן של מכללות ליפשיץ ו...,"אלון שבות, גוש עציון 9043300"
17,המרכז האקדמי לוינסקי-וינגייט,"שושנה פרסיץ 15, קריית החינוך תל-אביב"
18,מכללת סכנין להכשרת עובדי הוראה,"ת.ד. 100, סכנין 20173"
19,סמינר הקיבוצים – המכללה לחינוך לטכנולוגיה ולאו...,"דרך נמיר 149, תל-אביב 62507"
20,תלפיות – המכללה האקדמית לחינוך,"רח' יוטבתה 7, חולון 58114"

In [173]:
# CityNames=pd.DataFrame
# CityNames=dfDemography.loc[dfDemography["Years"] == '2022', 'שם יישוב']
# CityNames=dfDemography[dfDemography['Years']==2020]['שם יישוב']
# import numpy as  np

# CityNames=dfDemography.query('Years==2020')['שם יישוב']
# CityNames

# for name in CityNames:
#     print(name)
#     if dfColleges['Address'].str.contains(name).any():
#         print (name + "1")
#     else:
#          print ("is not there")

# if ' 124 באקה אל גרבייה 30100' in dfColleges.values :
#     print("\nThis value exists in Dataframe")
# else :
#     print("\nThis value does not exists in Dataframe")    

# print(dfColleges.values)

In [176]:
def GetTransportationData(url):
    try:
        driver = webdriver.Chrome(PATH)
        driver.get(url)
        driver.implicitly_wait(20)
        driver.maximize_window()
        selectSubtext = driver.find_element(By.ID, "select2-chosen-4")
        selectSubtext.click()
        driver.find_element(By.XPATH, "//*[@id=\"select2-results-4\"]/li[" + "2" + "]").click()
        time.sleep(10)
        selectCity = driver.find_element(By.ID, "select2-chosen-8")
        selectCity.click()
        time.sleep(1)
        options = driver.find_element(By.XPATH, "//*[@id=\"select2-results-8\"]")
        AllOpt = options.find_elements_by_css_selector("li")

        countOpt = len(AllOpt)
        driver.find_element(By.XPATH, "//*[@id=\"select2-results-8\"]/li[" + "1" + "]").click()

        dfData = pd.DataFrame()
        firstTime = True

        index = 1
        loopsTrying = int(10)
        for i in range(1, countOpt):
            try:
                driver.find_element(By.ID, "select2-chosen-4").click()
                driver.find_element(By.XPATH, "//*[@id=\"select2-results-4\"]/li[" + "2" + "]").click()
                selectCity = driver.find_element(By.ID, "select2-chosen-8")
                selectCity.click()
                time.sleep(1)
                driver.find_element(By.XPATH, "//*[@id=\"select2-results-8\"]/li[" + str(i) + "]").click()
                time.sleep(5)
                year = selectCity.text
                print("No found next page")
            except BaseException as e:
                print("No found next page")

            pages = driver.find_element_by_css_selector("div.pager")
            pagesLinkes = pages.find_elements_by_class_name("ng-binding")

            while True:
                time.sleep(5)
                pageLoopsTry = int(10)
                currentPage = 1
                for page in pagesLinkes:
                    while True:
                        try:
                            page.click()
                            time.sleep(2)
                            temp = get_tables()
                            temp.insert(0, "Years", year, True)
                            print(temp)
                            dfData = dfData.append(temp, ignore_index=True)
                            # time.sleep(1)
                            if firstTime:
                                temp.to_csv('Transportation.csv', mode='a', encoding='utf-8-sig', index=False)
                                firstTime = False
                            else:
                                temp.to_csv('Transportation.csv', mode='a', encoding='utf-8-sig', index=False, header=False)
                            break
                        
                        except BaseException as e:
                            pageLoopsTry = pageLoopsTry-1
                        if pageLoopsTry <= 0:
                            break
                try:
                    time.sleep(1)
                    nextPageExist = driver.find_element_by_css_selector("li.nextPages")
                    nextPageExist.click()
                    time.sleep(5)
                    pages = driver.find_element_by_css_selector("div.pager")
                    pagesLinkes = pages.find_elements_by_class_name("ng-binding")
                except BaseException as e:
                    print("No found next page")
                    break
    except BaseException as e:
        print("Invalid URL")
        return null
    driver.quit()
    return dfData

In [185]:
TransportationFileName=r"data\Transportation.csv"
url="https://boardsgenerator.cbs.gov.il/pages/WebParts/YishuvimPage.aspx?level_1=%D7%A9%D7%9B%D7%A8%20/%20%D7%94%D7%9B%D7%A0%D7%A1%D7%95%D7%AA"
if path.exists(TransportationFileName):
    dfTransportation = pd.read_csv(TransportationFileName)
else:
    dfTransportation = GetTransportationData(url)
    
dfTransportation

,Years,שם יישוב,סמל היישוב,סך הכל,רכב פרטי,משאית סך הכל,משאית עד 4.0 טון עד 2008 משאית עד 3.5 טון החל ב- 2009,משאית מ - 4.1 עד 15.9 טון עד 2008 משאית מ - 3.6 עד 12.0 טון החל ב- 2009,משאית + 16.0 טון עד 2008 משאית + 12.1 טון החל ב- 2009,אוטובוס,מונית,אופנוע,רכב מיוחד,אוטובוס זעיר קיים מ - 1993
0,2020,אביחיל,175,704,622,38,29,9,-,-,-,37,5,2
1,2020,אבן יהודה,182,7086,6265,487,307,149,31,5,14,274,5,36
2,2020,אבן שמואל,400,543,507,27,14,8,5,3,1,4,-,1
3,2020,אבו גוש,472,2577,2235,239,186,28,25,1,9,83,-,10
4,2020,אבו סנאן,473,5768,4909,707,523,96,88,-,25,121,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30354,1995,תנובות,2002,182,142,26,23,2,1,5,-,2,-,7
30355,1995,תלמי אלעזר,2003,158,114,29,27,1,1,1,-,12,-,2
30356,1995,"תלמי ביל""ו",2050,73,41,29,21,2,6,-,1,1,-,1
30357,1995,תקוע,3563,113,96,15,15,-,-,-,-,1,-,1
30358,1995,תלם,3719,18,7,5,4,1,-,-,-,-,-,6

In [186]:
filterdfTransportation=dfTransportation.iloc[:, [0,1,3,4,9,10,11]]
filterdfTransportation

       Years    שם יישוב  סך הכל רכב פרטי אוטובוס מונית אופנוע
0       2020      אביחיל     704      622       -     -     37
1       2020   אבן יהודה    7086     6265       5    14    274
2       2020   אבן שמואל     543      507       3     1      4
3       2020     אבו גוש    2577     2235       1     9     83
4       2020    אבו סנאן    5768     4909       -    25    121
...      ...         ...     ...      ...     ...   ...    ...
30354   1995      תנובות     182      142       5     -      2
30355   1995  תלמי אלעזר     158      114       1     -     12
30356   1995  תלמי ביל"ו      73       41       -     1      1
30357   1995        תקוע     113       96       -     -      1
30358   1995         תלם      18        7       -     -      -

[30359 rows x 7 columns]

In [187]:
#Filter the Transportation table to relevent city names
res = pd.DataFrame()
for name in CityNames:
    if filterdfTransportation['שם יישוב'].str.contains(name).any():
        res = pd.concat([res, filterdfTransportation[filterdfTransportation['שם יישוב']==name]])
res=res.sort_index(ascending=True)
res
#res.to_csv('data\filterTransportation.csv', mode='a', encoding='utf-8-sig', index=True)

C:\Users\netanel.m\AppData\Local\Temp\ipykernel_13768\1242286922.py:4: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  if filterdfTransportation['שם יישוב'].str.contains(name).any():
C:\Users\netanel.m\AppData\Local\Temp\ipykernel_13768\1242286922.py:4: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  if filterdfTransportation['שם יישוב'].str.contains(name).any():

       Years      שם יישוב  סך הכל רכב פרטי אוטובוס מונית אופנוע
1       2020     אבן יהודה    7086     6265       5    14    274
3       2020       אבו גוש    2577     2235       1     9     83
4       2020      אבו סנאן    5768     4909       -    25    121
20      2020        אופקים    8856     7837      89    50    175
26      2020     אור עקיבא    7585     6810      17    41    153
...      ...           ...     ...      ...     ...   ...    ...
30313   1995         שלומי     722      600       5     5     17
30323   1995         שפרעם    4659     3919       7    30     11
30328   1995       תל מונד    1326     1053       5     3     29
30335   1995        תל שבע     591      386       -     -      5
30343   1995  תל אביב -יפו  202140   124536    6356  1415  14942

[4854 rows x 7 columns]